body{
  background-color: #eee;
}
.reg_div{
  margin:auto;
  width: 500px;
  height: 500px;
  border:1px solid #ffffff;
  border-radius: 5px;
  text-align: center;
  margin-top: 80px;
  background-color: #ffffff;
}
.reg_div p{
  padding: 30px 0px;
  font-size: 30px;
}

.reg_ul{
  width: 100%;
}
.reg_ul li{
  margin: auto;
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
}

.reg_ul li span{
  float: left;
  width:100px;
  text-align:right;
  display:inline-block;
  margin: auto;
  margin-left:30px;
  margin-top: 10px;
}
.reg_ul li span.tip{margin:6px 0 0 10px;width:40px;text-align:left;}
.reg_ul li input{
  float: left;
  width: 228px;
  height: 30px;
  border:1px solid #333;
  border-radius: 3px;
  padding-left: 20px;
  outline:medium;
  margin-left: 10px;
}
.reg_ul li button{
  margin: auto;
  color: #ffffff;
  background-color: #5595ff;
  font-size: 16px;
  padding: 10px 60px;
  outline: inherit;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}






























.
